table {
    margin: 100px auto;
    border: 1px solid black;
    border-spacing: 0;
    font-family: "lucida console";
    font-size: 90%;
    text-align: center;
}

table input[type=text] {
    width: 100%;
    margin: 0;
    padding: 5px 15px;
    -webkit-box-sizing: border-box;
    text-align: inherit;
    background-color: inherit;
}

thead {
    text-align: center;
}

thead td {
    font-weight: bold;
    color: #ffffff;
    background-color: #75715e;
    /*border: 1px solid black;*/
    padding: 10px 15px;
}

tbody tr:not(#row_edit):hover {
    color: greenyellow;
    background-color: #75715E;
}

tbody td:not(.col_edit) {
    padding: 3px 15px;
    text-align: center;
}

tbody td[class=cname] {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tbody a {
    cursor: pointer;
    display: block;
    padding: 5px;
    width: 60px;
}

tbody a:hover {
    color: #0000ff;
    background-color: #ffffff;
}

td.car_id {
    width: 30px;
}

#row_edit {
}

#row_edit td {
    padding: 2px;
}